<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="justify-content-center col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" action="/api/signin">
                    <div class="divider d-flex justify-content-center align-items-center my-4">
                        <h3 class="text-center fw-bold mx-3 mb-0">Đăng nhập hệ thống</h3>
                    </div>
                    {{#if msg}}
                    <div class="p-1 mb-2 bg-warning text-dark rounded">
                        <p class="fw-bold mx-3 mb-0">{{msg}}</p>
                    </div>
                    {{/if}}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="name@example.com" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                            required>
                        <label for="password">Password</label>
                    </div>
                    <div class="divider d-flex justify-content-center align-items-center my-3">
                        <button type="submit" class="btn btn-primary btn-lg fw-bold"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng nhập</button>
                    </div>
                </form>
                <div class="divider d-flex justify-content-center align-items-center">
                    <p class="small fw-bold">Chưa có tài khoản? <a href="/api/signup" class="link-danger">Đăng ký</a></p>
                </div>
            </div>
        </div>
    </div>
</section>